.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
}

.left {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template-rows: 150px 350px 250px;
}

.sidebar {
    display: grid;
    background-color: skyblue;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    grid-template-rows: 2fr repeat(6, 1fr) repeat(3, 1fr);
    gap: 4px;
}

.logo {
    display: grid;
    font-size: 2rem;
    grid-row: 1 / 2;
    padding: 15px;
    padding-bottom: 20px;
    place-self: start;
}

.dash-nav {
    display: grid;
    font-size: 1.2rem;
    grid-row: 2 / 3;
    padding: 20px;
}

.dash-settings {
    display: grid;
    font-size: 1.2rem;
    grid-row: 3 / 4;
    padding: 20px;
}

.dash-nav > a {
    height: 40px;
    text-decoration: none;
}

.dash-settings > a {
    height: 40px;
    text-decoration: none;
}



.right {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr;
}


.header {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px 150px;
}

.main-content {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: lightgray;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.searchbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.bell {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.profile {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    align-content: center;
}

.new-button {
    grid-column: 1 / 2;
}

.upload-button {
    grid-column: 2 / 3;

}

.share-button {
    grid-column: 3 / 4;

}



