.container {
    display: grid;
    grid-template-columns: minmax(100px, 225px) minmax(400px, 4fr);
    grid-template-rows: 1000px;
    background-color: lightgray;
    z-index: 0;
    gap: 4px;
}

.left {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.sidebar {
    background-color: #0099E6;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    gap: 4px;
}

.logo {
    display: grid;
    font-size: 2rem;
    font-weight: bold;
    grid-row: 1 / 2;
    padding: 10px;
    place-self: start;
    color: white;
}

.dash-nav {
    font-size: 1.2rem;
    grid-row: 2 / 3;
    padding: 10px;
}

.dash-settings {
    font-size: 1.2rem;
    font-weight: bold;
    grid-row: 3 / 4;
    padding: 10px;
}

.dash-nav > a {
    height: auto;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.dash-settings > a {
    height: auto;
    text-decoration: none;
    color: white;
}

/**********************************************/

.right {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: white;
    grid-template-columns: 4fr 100px 200px;
    grid-template-rows: minmax(60px, 1fr) minmax(85px, 2fr);
}

.main-content {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 45px;
    gap: 20px 20px;
}

.projects {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    gap: 20px 20px;
    padding: 13px;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
}

.side-content {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 13px;
    grid-template-columns: 250px;
    grid-template-rows: 325px 50px 325px;
}

.announcements-title {
    font-size: 1.1rem;
    font-weight: 700;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-self: start;
    align-self: row2-start;
}

.announcements {
    background-color: white;
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    border-radius: 10px;
    padding: 20px;
    grid-template-rows: 20px 80px 20px 80px 20px 80px;;
}

.announcements > .content-title1 {
    grid-row: 1 / 2;
    font-size: 14px;
    font-weight: 700;
}

.announcements > .content-title2 {
    grid-row: 3 / 4;
    font-size: 14px;
    font-weight: 700;
}

.announcements > .content-title3 {
    grid-row: 5 / 6;
    font-size: 14px;
    font-weight: 700;
}

.announcements > .content1 {
    grid-row: 2 / 3;
    font-size: 12px;
    color: rgb(68, 68, 68);
    border-bottom: 1px solid darkgrey;
}

.announcements > .content2 {
    grid-row: 4 / 5;
    font-size: 12px;
    color: rgb(68, 68, 68);
    border-bottom: 1px solid darkgrey;
}

.announcements > .content3 {
    grid-row: 6 / 7;
    color: rgb(68, 68, 68);
    font-size: 12px;
}

.projects-title {
    font-size: 1.1rem;
    font-weight: 700;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 5px;
    padding-top: 5px;
    align-self: row2-start;
}

.trending-title {
    font-size: 1.1rem;
    font-weight: 700;
    grid-row: 2 / 3;
    margin: 0px;
    align-self: end;
}

.trending {
    background-color: white;
    display: grid;
    grid-row: 3 / 4;
    border-radius: 10px;
    padding: 20px;
    grid-template-rows: 40px 40px 40px 40px;
}

.card {
    height: 225px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    place-self: space-around;
}

.searchbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.bell {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.profile {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.buttons {
    grid-column: 2 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
}

.new-button {
    color: white;
    background-color: #0099E6;
    font-weight: bold;
    font-size: 0.7rem;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 25px;
    margin-right: 15px;
}

.upload-button {
    color: white;
    background-color: #0099E6;
    font-weight: bold;
    font-size: 0.7rem;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 25px;
    margin-right: 15px;
}

.share-button {
    color: white;
    background-color: #0099E6;
    font-weight: bold;
    font-size: 0.7rem;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 25px;
}



