.container {
    display: grid;
    grid-template-columns: [first] 1fr [second] 4fr;
    grid-template-rows: [header] 1fr [content] 5fr;
    gap: 4px;
}

.header {
    display: grid;
    grid-column: second / 3;
    grid-row: header / 2;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px 150px;
}

.searchbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.bell {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.profile {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    align-content: center;
}

.new-button {
    grid-column: 1 / 2;

}

.upload-button {
    grid-column: 2 / 3;

}

.share-button {
    grid-column: 3 / 4;

}

.sidebar {
    display: grid;
    padding: 20px;
    background-color: skyblue;
    grid-row: 1 / 1;
    grid-template-rows: 100px 400px 300px;
    justify-items: start;
    align-items: center;
}

.logo {
    display: grid;
    font-size: 2rem;
    grid-row: 1 / 2;
    place-self: start;
}

.dash-nav {
    display: grid;
    font-size: 1.5rem;
    grid-row: 2 / 3;
}

.main-content {
    display: grid;
    background-color: lightgray;
    grid-template-columns: 3fr 1fr;
}