.container {
    display: grid;
    grid-template-columns: minmax(100px, 225px) 1000px;
    grid-template-rows: 100%;
    background-color: lightgray;
    z-index: 0;
}

.left {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.sidebar {
    background-color: #0099E6;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    gap: 4px 4px;
}

.logo {
    display: grid;
    font-size: 2rem;
    font-weight: bold;
    grid-row: 1 / 2;
    padding: 10px;
    place-self: start;
    color: white;
}

.dash-nav {
    font-size: 1.2rem;
    grid-row: 2 / 3;
    padding: 10px;
}

.dash-settings {
    font-size: 1.2rem;
    font-weight: bold;
    grid-row: 3 / 4;
    padding: 10px;
}

.dash-nav > a {
    height: auto;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.dash-settings > a {
    height: auto;
    text-decoration: none;
    color: white;
}

/**********************************************/

.right {
    display: grid;
    width: 1000px;
    grid-column: 2 / 3;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: white;
    border-bottom: 2px solid #959595;
    grid-template-columns: 3fr 70px 50px 150px;
    grid-template-rows: minmax(60px, 1fr) minmax(85px, 2fr);
}

.searchbar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    gap: 10px;
    width: 650px;
    grid-template-columns: 25px 600px;
    grid-template-rows: 30px;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border-radius: 15px;
}

img {
    grid-column: 1 / 2;
    align-self: start;
    justify-self: center;
}

form > input#fsearch {
    grid-column: 2 / 3;
    background-color: #bdbdbd;
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    place-self: center;
}

.bell {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    place-self: center;
}

.profile {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    place-self: center;
}

.profile-name {
    font-size: 1.1rem;
    font-weight: 700;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    place-self: center;
}

.main-greeting {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 5fr;
    justify-items: start;
    align-items: center;
}

.greeting-profile {
    grid-column: 1 / 2;
    place-self: center;
}

p > .greeting-text {
    grid-column: 2 / 3;
}

p.greeting {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
}

p.profile-greeting {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
}

.buttons {
    grid-column: 2 / 5;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
}

.new-button {
    color: white;
    background-color: #0099E6;
    font-weight: bold;
    font-size: 0.7rem;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 25px;
    margin-right: 15px;
}

.upload-button {
    color: white;
    background-color: #0099E6;
    font-weight: bold;
    font-size: 0.7rem;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 25px;
    margin-right: 15px;
}

.share-button {
    color: white;
    background-color: #0099E6;
    font-weight: bold;
    font-size: 0.7rem;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 25px;
}

.main-content {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto-fit;
    align-content: space-evenly;
    justify-content: space-evenly;
    padding-top: 25px;
}

.projects {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    gap: 20px 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 50px;
    grid-template-columns: repeat(2, minmax(300px, 350px));
    grid-template-rows: repeat(3, minmax(150px, 200px));
}

.side-content {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    grid-template-columns: minmax(200px, 250px);
    grid-template-rows: minmax(200px, 295px) 50px minmax(200px, 295px);
}

.announcements-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-self: end;
    justify-self: start;
}

.announcements {
    background-color: white;
    display: grid;
    margin: none;
    grid-row: 1 / 2;
    border-radius: 10px;
    padding: 20px;
    grid-template-columns: auto-fit;
    grid-template-rows: 20px 50px 20px 50px 20px 50px;
    align-content: space-around;
}

.announcements > .content-title1 {
    grid-row: 1 / 2;
    font-size: 14px;
    font-weight: 700;
    padding-top: 6px;
    margin: 0;
}

.announcements > .content-title2 {
    grid-row: 3 / 4;
    font-size: 14px;
    font-weight: 700;
    padding-top: 8px;
    margin: 0;
}

.announcements > .content-title3 {
    grid-row: 5 / 6;
    font-size: 14px;
    font-weight: 700;
    padding-top: 8px;
    margin: 0;
}

.announcements > .content1 {
    grid-row: 2 / 3;
    font-size: 11px;
    color: rgb(68, 68, 68);
    padding-bottom: 4px;
    border-bottom: 1px solid darkgrey;
    margin: 0;
}

.announcements > .content2 {
    grid-row: 4 / 5;
    font-size: 11px;
    color: rgb(68, 68, 68);
    border-bottom: 1px solid darkgrey;
    padding-bottom: 4px;
    margin: 0;
}

.announcements > .content3 {
    grid-row: 6 / 7;
    color: rgb(68, 68, 68);
    font-size: 11px;
    margin: 0;
}

.projects-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-self: end;
    justify-self: start;
}

.trending-title {
    font-size: 1.1rem;
    font-weight: 700;
    grid-row: 2 / 3;
    margin: 0px;
    padding-bottom: 5px;
    align-self: end;
}

.trending {
    background-color: white;
    display: grid;
    grid-row: 3 / 4;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: repeat(2, minmax(40px auto-fit));
    grid-template-rows: repeat(4, minmax(40px auto-fit));
    align-content: space-evenly;
}

.trending-icon1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.trending-icon2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.trending-icon3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.trending-icon4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.trending-user1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
    font-size: 0.8rem;
    color: #656565;
}

.trending-user2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    font-size: 0.8rem;
    color: #656565;
}

.trending-user3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0;
    font-size: 0.8rem;
    color: #656565;
}

.trending-user4 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin: 0;
    font-size: 0.8rem;
    color: #656565;
}

.card {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: auto-fit;
    background-color: white;
    border-left: 6px solid #FFAA00;
    border-radius: 10px;
    padding: 25px;
    justify-content: start;
}

.card > .title {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    padding-bottom: 5px;
    place-self: start start;
}

.card > .content {
    color: #656565;
    font-size: 0.9rem;
    margin: 0;
    place-self: start start;
}

.quick-links {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50px 50px 50px;
    color: rgb(68, 68, 68);
    justify-items: center;
    place-self: end end;
}

.footer {
    grid-column: 1 / 3;
    place-content: end;
    padding-right: 4px;
}

.credit {
    margin: 0;
    font-size: 0.8rem;
    place-self: end;
}
