.container {
    display: grid;
    grid-template-columns: minmax(100px, 225px) minmax(400px, 4fr);
    gap: 4px;
}

.left {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.sidebar {
    background-color: #0099E6;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    gap: 4px;
}

.logo {
    display: grid;
    font-size: 2rem;
    font-weight: bold;
    grid-row: 1 / 2;
    padding: 10px;
    place-self: start;
    color: white;
}

.dash-nav {
    font-size: 1.2rem;
    grid-row: 2 / 3;
    padding: 10px;
}

.dash-settings {
    font-size: 1.2rem;
    font-weight: bold;
    grid-row: 3 / 4;
    padding: 10px;
}

.dash-nav > a {
    height: auto;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.dash-settings > a {
    height: auto;
    text-decoration: none;
    color: white;
}

/**********************************************/

.right {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 4fr 100px 200px;
    grid-template-rows: minmax(60px, 1fr) minmax(85px, 2fr);
}

.main-content {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: lightgray;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20px auto-fit;
}

.projects {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    gap: 20px 20px;
    padding: 20px;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
}

.side-content {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    gap: 20px 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    grid-template-columns: 250px;
    grid-template-rows: minmax(200px 250px) auto-fit minmax(200px 250px);
}

.announcements {
    background-color: white;
    display: grid;
    grid-row: 1 / 2;
    border-radius: 15px;
    grid-template-rows: 225px;
}

.projects-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.announcements-title {
    grid-row: 1 / 2;
    margin: 0;
    justify-self: start;
    align-self: end;
}

.trending-title {
    grid-row: 2 / 3;
    margin: 0px;
    justify-self: start;
    align-self: end;
}

.trending {
    background-color: white;
    display: grid;
    grid-row: 3 / 4;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    grid-template-rows: 225px;
}

.card {
    background-color: white;
    border-radius: 25px;
}

.searchbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.bell {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.profile {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.buttons {
    grid-column: 2 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
}

.new-button {
    color: white;
    background-color: #0099E6;
    font-weight: bold;
    font-size: 0.7rem;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 25px;
    margin-right: 15px;
}

.upload-button {
    color: white;
    background-color: #0099E6;
    font-weight: bold;
    font-size: 0.7rem;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 25px;
    margin-right: 15px;
}

.share-button {
    color: white;
    background-color: #0099E6;
    font-weight: bold;
    font-size: 0.7rem;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 25px;
}



